services:
  # Servicio del Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
    command: bash -c "sleep 5 && python /app/initial_data.py && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_healthy
    networks:
      - fotopatagonia_network

  # Servicio de la Base de Datos (PostgreSQL)
  db:
    image: postgres:13
    ports:
      - "5433:5432"
    env_file:
      - ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fotopatagonia_network

  # Servicio de Localstack (S3)
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566" # Puerto principal de LocalStack
      - "4510-4559:4510-4559" # Puertos para servicios individuales
    environment:
      - SERVICES=s3
      - DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DEBUG=1
    volumes:
      - localstack_data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD-SHELL", "awslocal s3 ls"]
      interval: 10s
      timeout: 10s
      retries: 10
    networks:
      - fotopatagonia_network

  # Servicio del Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - INTERNAL_API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - fotopatagonia_network

# Definición de volúmenes y redes
volumes:
  postgres_data:
  localstack_data:

networks:
  fotopatagonia_network:
    driver: bridge
