version: '3.8'

services:
  backend:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: bash -c "sleep 5 && python /app/initial_data.py && uvicorn main:app --host 0.0.0.0 --port 8000"
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_healthy

  db:
    image: postgres:13
    ports:
      - "5433:5432"
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566" # Default LocalStack port
      - "4510-4559:4510-4559" # Ports for individual services
    environment:
      - SERVICES=s3 # Only run S3 service
      - DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DEBUG=1 # Enable debug logging for Localstack
    volumes:
      - localstack_data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock" # Required for Localstack to interact with Docker
    healthcheck:
      test: ["CMD-SHELL", "awslocal s3 ls"]
      interval: 10s
      timeout: 10s
      retries: 10

volumes:
  localstack_data:
