fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
pydantic[email]
python-jose[cryptography]
passlib==1.7.4
python-multipart
pytest
httpx
bcrypt==3.2.0
boto3
pydantic-settings
mercadopago
pytest-asyncio
alembic
asyncpg
resend
